<div class="post">
    <div >
        <div class="display" *ngIf="posts$  | async as post " (click)="onPostClick($event)" >
            <div class="infor" *ngFor="let posts of post " >
                <div id="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiaV77GPxFMMY0MFUAv-lywg5rQQIB-R6QxQ&usqp=CAU"
                        alt="">
                </div>
                <div class="body">
                    <p>{{posts.userDetails.name}}</p>
                    <p>{{posts.body}}</p>
                    <div class="icons">
                        <img src="" alt="likes">
                        <img src="" alt="comment">
                        <img src="" alt="heart image">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="commentsbody">
       <app-comments></app-comments>
  </div>
</div>