.post{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;

}
.display{
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    width: 70%;
    border: 2px ;
}
.infor{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    justify-content: space-between;
}
.commentsbody{
    display: flex;
    /* max-width: 60%; */

}
