.container{
    display: grid;
    justify-content: space-between;
    /* max-width: 70%; */
    gap: 4rem;
}
.commentsbody{
    display: grid;

}
.comments{
    display: flex;
    height: 6rem;
    align-items: center;
   
   
    
}
h1{
    text-align: center;
}
img{
    width: 15rem;
    height: 5rem;

}
