.container{
    display: grid;
    justify-content: space-between;
    /* max-width: 70%; */
}
.commentsbody{
    display: grid;

}
.comments{
    display: flex;
    height: 10rem;
    
}
h1{
    text-align: center;
}
